ChefClient/*.iml
ChefClient/.gradle
ChefClient//local.properties
ChefClient//.idea/caches/build_file_checksums.ser
ChefClient//.idea/libraries
ChefClient//.idea/modules.xml
ChefClient//.idea/workspace.xml
ChefClient/.DS_Store
ChefClient//build
ChefClient//captures
ChefClient/.externalNativeBuild
